<header
        class="sticky top-0 z-999 flex w-full bg-white drop-shadow-1 dark:bg-boxdark dark:drop-shadow-none"
>
    <div
            class="flex flex-grow items-center justify-between px-4 py-4 shadow-2 md:px-6 2xl:px-11"
    >
        <div class="flex items-center gap-2 sm:gap-4 lg:hidden">
            <!-- Hamburger Toggle BTN -->
            {% block sidebar_toggler %}
                <button
                        data-action="click->sidebar#toggle"
                        class="z-99999 block rounded-sm border border-stroke bg-white p-1.5 shadow-sm dark:border-strokedark dark:bg-boxdark lg:hidden"
                >
        <span class="relative block h-5.5 w-5.5 cursor-pointer">
          <span class="du-block absolute right-0 h-full w-full">
            <span
                    class="relative left-0 top-0 my-1 block h-0.5 w-full rounded-sm bg-black delay-[0] duration-200 ease-in-out dark:bg-white"
            ></span>
            <span
                    class="relative left-0 top-0 my-1 block h-0.5 w-full rounded-sm bg-black delay-150 duration-200 ease-in-out dark:bg-white"

            ></span>
            <span
                    class="relative left-0 top-0 my-1 block h-0.5 w-full rounded-sm bg-black delay-200 duration-200 ease-in-out dark:bg-white"
            ></span>
          </span>
        </span>
                </button>
            {% endblock %}
            <!-- Hamburger Toggle BTN -->
            <a class="block flex-shrink-0 lg:hidden" href="{{ path('app_dashboard') }}">
                <img src="{{ asset('images/logo/logo-icon.svg') }}" alt="Logo" />
            </a>
        </div>
        <div class="hidden sm:block">
            {% if app.user and app.user.group %}
                <strong class="uppercase">{{ "app.jid"|trans }} : {{ app.user.group.jid|default }}</strong>
            {% endif %}
        </div>
        <div class="flex items-center gap-3 2xsm:gap-7">
            <ul class="flex items-center gap-2 2xsm:gap-4">
                <li>
                    {% component Toggler with {'data-controller': 'darkmode', 'data-action': 'darkmode:enable->toggler#enable', actions: ['darkmode#toggle']} %}
                        {% block icons %}
                            {{ component('Icon', {
                                name: 'icon-sun',
                                class: 'size-4 dark:hidden text-[#969AA1]'
                            }) }}

                            {{ component('Icon', {
                                name: 'icon-moon',
                                class: 'size-4 hidden dark:inline-block text-[#969AA1]'
                            }) }}
                        {% endblock %}
                    {% endcomponent %}
                </li>
            </ul>

            <!-- User Area -->
            {% if app.user %}
                <div
                        data-controller="dropdown"
                        class="relative"
                >
                    <button
                            type="button"
                            data-action="click->dropdown#toggle"
                            class="w-full flex items-center gap-4"
                    >
          <span class="hidden text-right lg:block">
            <span class="block text-sm font-medium text-black dark:text-white"
            >{{ app.user.firstname }}</span
            >
              {% if app.user.group %}
                  <span class="block text-xs font-medium">{{ app.user.group.name }}</span>
              {% endif %}
          </span>

                        <span class="h-12 w-12 rounded-full">
            <img src="{{ asset('images/user/user-01.png') }}" alt="User" />
          </span>
                        {{ component('Icon', {
                            name: 'icon-caret-down',
                            'data-dropdown-target': 'icon',
                            class: 'hidden sm:block'
                        }) }}
                    </button>

                    <!-- Dropdown Start -->
                    <div
                            data-dropdown-target="menu"
                            class="hidden absolute right-0 mt-4 flex w-62.5 flex-col rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
                    >
                        <ul
                                class="flex flex-col gap-5 border-b border-stroke px-6 py-7.5 dark:border-strokedark"
                        >
                            <li>
                                <a
                                        href="#"
                                        class="flex items-center gap-3.5 text-sm font-medium duration-300 ease-in-out hover:text-primary lg:text-base"
                                >
                                    {{ component('Icon', {
                                        name: 'icon-user'
                                    }) }}
                                    My Profile
                                </a>
                            </li>
                        </ul>
                        <a href="{{ path('app_logout') }}"
                           class="flex items-center gap-3.5 px-6 py-4 text-sm font-medium duration-300 ease-in-out hover:text-primary lg:text-base"
                        >
                            {{ component('Icon', {
                                name: 'icon-logout'
                            }) }}
                            Log Out
                        </a>
                    </div>
                    <!-- Dropdown End -->
                </div>
            {% endif %}
            <!-- User Area -->
        </div>
    </div>
</header>
