<aside
        data-expanded="0"
        data-sidebar-target="sidebarContainer"
        class="-translate-x-full absolute left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-hidden bg-black duration-300 ease-linear dark:bg-boxdark lg:static lg:translate-x-0"
>
    <!-- SIDEBAR HEADER -->
    <div class="flex items-center justify-between gap-2 px-6 py-5.5 lg:py-6.5">
        <a href="{{ path('app_dashboard') }}">
            <img src="{{ asset('images/logo/logo.svg') }}" alt="Logo" />
        </a>

        <button
                data-action="click->sidebar#toggle"
                class="lock lg:hidden"
        >
            {{ component('Icon', {name: 'icon-back'}) }}
        </button>
    </div>
    <!-- SIDEBAR HEADER -->

    <div
            class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear"
    >
        <!-- Sidebar Menu -->
        <nav
                class="mt-5 px-4 py-4 lg:mt-9 lg:px-6"
        >
            <!-- Menu Group -->
            <div>
                <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">MENU</h3>

                <ul class="mb-6 flex flex-col gap-1.5">
                    <li>
                        <a
                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                href="{{ path('app_dashboard') }}"
                        >
                            {{ component('Icon', {
                                name: 'icon-dashboard'
                            }) }}

                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a
                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                href="{{ path('app_edition_index') }}"
                        >
                            {{ component('Icon', {
                                name: 'icon-calendar'
                            }) }}

                            Editions
                        </a>
                    </li>
                    <li>
                        <a
                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                href="{{ path('app_question_index') }}"
                        >
                            {{ component('Icon', {
                                name: 'icon-question'
                            }) }}

                            Questions
                        </a>
                    </li>
                    <li>
                        <a
                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                href="{{ path('app_user_index') }}"
                        >
                            {{ component('Icon', {
                                name: 'icon-users'
                            }) }}

                            Utilisateurs
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</aside>
