<aside
        data-expanded="0"
        data-sidebar-target="sidebarContainer"
        class="-translate-x-full absolute left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-hidden bg-black duration-300 ease-linear dark:bg-boxdark lg:static lg:translate-x-0"
>
    <!-- SIDEBAR HEADER -->
    <div class="flex items-center justify-between gap-2 px-6 py-5.5 lg:py-6.5">
        <a href="{{ path('app_dashboard') }}">
            <img src="{{ asset('images/logo/logo.svg') }}" alt="Logo" />
        </a>

        <button
                data-action="click->sidebar#toggle"
                class="lock lg:hidden"
        >
            {{ component('Icon', {name: 'icon-back'}) }}
        </button>
    </div>
    <!-- SIDEBAR HEADER -->

    <div
            class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear h-full justify-between"
    >
        <!-- Sidebar Menu -->
        <nav
                class="mt-5 px-4 py-4 lg:mt-9 lg:px-6"
        >
            <!-- Menu Group -->
            <div>
                <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">{{ "label.menu.title"|trans }}</h3>

                <ul class="mb-6 flex flex-col gap-1.5">
                    <li>
                        <a
                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                href="https://webchat.scoutlink.net" target="_blank"
                        >
                            {{ component('Icon', {
                                name: 'icon-chat'
                            }) }}

                            {{ "label.menu.open_chat"|trans }}
                        </a>
                    </li>
                    <li>
                        <a
                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                href="{{ path('app_entry_new') }}"
                        >
                            {{ component('Icon', {
                                name: 'icon-link'
                            }) }}

                            {{ "label.menu.add_jid"|trans }}
                        </a>
                    </li>
                    <li class="border-b border-strokedark"></li>
                    <li data-controller="dropdown">
                        <button
                                data-action="click->dropdown#toggle"
                                class="w-full group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                        >
                            {{ component('Icon', {
                                name: 'icon-dashboard'
                            }) }}

                            {{ "label.menu.dashboard"|trans }}

                            {{ component('Icon', {
                                name: 'icon-caret-down',
                                class: 'absolute right-4 top-1/2 -translate-y-1/2',
                                'data-dropdown-target': 'icon'
                            }) }}

                        </button>

                        <!-- Dropdown Menu Start -->
                        <div
                                data-dropdown-target="menu"
                                class="hidden translate transform overflow-hidden"
                        >
                            <ul class="mb-5.5 mt-4 flex flex-col gap-2.5 pl-6">
                                {% for edition in get_editions() %}
                                    <li>
                                        <a
                                                class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white"
                                                href="{{ path('app_dashboard_edition', {edition: edition.id}) }}"
                                        >{{ edition.name }}
                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <!-- Dropdown Menu End -->
                    </li>
                    <li>
                        <a
                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                href="{{ path('app_edition_index') }}"
                        >
                            {{ component('Icon', {
                                name: 'icon-calendar'
                            }) }}

                            {{ "label.menu.editions"|trans }}
                        </a>
                    </li>
                    <li>
                        <a
                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                href="{{ path('app_group_index') }}"
                        >
                            {{ component('Icon', {
                                name: 'icon-flag'
                            }) }}

                            {{ "label.menu.groups"|trans }}
                        </a>
                    </li>
                    <li>
                        <a
                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                href="{{ path('app_question_index') }}"
                        >
                            {{ component('Icon', {
                                name: 'icon-question'
                            }) }}

                            {{ "label.menu.questions"|trans }}
                        </a>
                    </li>
                    <li>
                        <a
                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                href="{{ path('app_user_index') }}"
                        >
                            {{ component('Icon', {
                                name: 'icon-users'
                            }) }}

                            {{ "label.menu.users"|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="mx-auto w-full max-w-50 px-4 py-6 text-center"
        >
            <a
                    href="https://www.scout-valais.ch"
                    target="_blank"
            >
                <img src="{{ asset('images/logo/logo-scout-valais.svg') }}" alt="">
            </a>
        </div>
        <!-- Promo Box -->
    </div>
</aside>
