{% extends 'layout.html.twig' %}

{% block sidebar %}

{% endblock %}

{% block header %}
    {% embed '_partials/_header.html.twig' %}
        {% block sidebar_toggler %}{% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}
        <div class="block-container !p-0">
            <div class="flex flex-wrap items-center">
                <div class="hidden w-full xl:block xl:w-1/2">
                    <div class="px-26 py-17.5 text-center">
                        <a class="mb-5.5 inline-block" href="{{ path('app_dashboard') }}">
                            <img
                                    src="{{ asset('images/logo/logo-2024.png') }}"
                                    alt="Logo"
                            />
                        </a>
                    </div>
                </div>
                <div
                        class="w-full border-stroke dark:border-strokedark xl:w-1/2 xl:border-l-2"
                >
                    <div class="w-full p-4 sm:p-12.5 xl:p-17.5">
                        <h2
                                class="mb-5 text-2xl font-bold text-black dark:text-white sm:text-title-xl2"
                        >
                            {{ "label.login"|trans }}
                        </h2>

                        <form method="post">
                            {% if error %}
                                {{ component('Alert', {type: 'danger', title: error.messageKey|trans(error.messageData, 'security')}) }}
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    {{ "label.already_logged"|trans({'%username%': app.user.userIdentifier}) }} <a href="{{ path('app_logout') }}">{{ "label.logout"|trans }}</a>
                                </div>
                            {% endif %}

                            {{ component('TextInput', {
                                name: '_username',
                                label: 'label.username'|trans,
                                value: last_username,
                                extraAttributes: {
                                    autocomplete: 'username',
                                    id: 'username',
                                    required: true,
                                    autofocus: true
                                },
                                icon: {
                                    name: 'icon-user'
                                }
                            }) }}

                            {{ component('TextInput', {
                                name: '_password',
                                label: 'label.password'|trans,
                                type: 'password',
                                value: '',
                                extraAttributes: {
                                    autocomplete: 'password',
                                    id: 'password',
                                    required: true
                                },
                                icon: {
                                    name: 'icon-lock'
                                }
                            }) }}

                            {{ component('Toggler', {class: 'mb-3', name: '_remember_me', label: 'label.remember_me'|trans}) }}

                            <div class="mb-5">
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                                {{ component('Button', {
                                    type: 'submit',
                                    label: 'label.sign_in'|trans,
                                    class: 'w-full bg-primary text-white'
                                }) }}
                            </div>

                            <div class="mt-6 text-center">
                                <p class="font-medium">
                                    {{ "label.no_account"|trans }}
                                    <a href="{{ path('app_register') }}" class="text-primary">{{ "label.sign_up"|trans }}</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
