{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block sidebar %}

{% endblock %}

{% block header %}
    {% embed '_partials/_header.html.twig' %}
        {% block sidebar_toggler %}{% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

        <div
                class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
        >
            <div class="flex flex-wrap items-center">
                <div class="hidden w-full xl:block xl:w-1/2">
                    <div class="px-26 py-17.5 text-center">
                        <a class="mb-5.5 inline-block" href="{{ path('app_dashboard') }}">
                            <img
                                    class="hidden dark:block"
                                    src="{{ asset('images/logo/logo.svg') }}"
                                    alt="Logo"
                            />
                            <img
                                    class="dark:hidden"
                                    src="{{ asset('images/logo/logo-dark.svg') }}"
                                    alt="Logo"
                            />
                        </a>

                        <p class="font-medium 2xl:px-20">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            suspendisse.
                        </p>

                        <span class="mt-15 inline-block">
                      <img
                              src="./images/illustration/illustration-03.svg"
                              alt="illustration"
                      />
                    </span>
                    </div>
                </div>
                <div
                        class="w-full border-stroke dark:border-strokedark xl:w-1/2 xl:border-l-2"
                >
                    <div class="w-full p-4 sm:p-12.5 xl:p-17.5">
                        <span class="mb-1.5 block font-medium">Start for free</span>
                        <h2
                                class="mb-9 text-2xl font-bold text-black dark:text-white sm:text-title-xl2"
                        >
                            Sign Up to TailAdmin
                        </h2>

                        {{ form_start(registrationForm) }}

                        {% component TextInput with {form: registrationForm.username, icon: {name: 'icon-user'}} %}

                        {% endcomponent %}

                        <div class="flex flex-row gap-x-4">
                            {% component TextInput with {form: registrationForm.firstname} %}
                            {% endcomponent %}

                            {% component TextInput with {form: registrationForm.lastname} %}
                            {% endcomponent %}
                        </div>

                        {% component TextInput with {form: registrationForm.plainPassword.first, icon: {name: 'icon-lock'}} %}

                        {% endcomponent %}

                        {% component TextInput with {form: registrationForm.plainPassword.second, icon: {name: 'icon-lock'}} %}

                        {% endcomponent %}

                        <div class="mb-5">
                            {{ component('Button', {
                                type: 'submit',
                                label: 'create account',
                                class: 'w-full bg-primary text-white'
                            }) }}
                        </div>

                        <div class="mt-6 text-center">
                            <p class="font-medium">
                                Already have an account?
                                <a href="{{ path('app_login') }}" class="text-primary">Sign in</a>
                            </p>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
