{% extends 'layout.html.twig' %}

{% block title %}Questions index{% endblock %}

{% block top_title %}
    {{ 'Questions'|trans }}
{% endblock %}


{% block content %}
    <div
            class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1"
    >
        <div class="max-w-full overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                <tr class="bg-gray-2 text-left dark:bg-meta-4">
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
                    >
                        Question
                    </th>
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white"
                    >
                        Obligatoire
                    </th>
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white"
                    >
                        Réponses
                    </th>
                    <th class="px-4 py-4 font-medium text-black dark:text-white">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td
                                class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11"
                        >
                            <h5 class="font-medium text-black dark:text-white">{{ entity.title }}</h5>
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            <p class="inline-flex rounded-full bg-opacity-10 px-3 py-1 text-sm font-medium {% if entity.required %}bg-success text-success{% else %}bg-danger text-danger{% endif %}">{{ component('Icon', {name: entity.required ? 'icon-success' : 'icon-danger', class: 'size-2.5'}) }}</p>
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            <p class="inline-flex rounded-full bg-opacity-10 px-3 py-1 text-sm font-medium bg-primary text-primary">{{ entity.answers|length }}</p>
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            <div class="flex items-center space-x-3.5">
                                <a href="{{ path('app_question_show', {id: entity.id}) }}" class="hover:text-primary">
                                    {{ component('Icon', {name: 'icon-eye'}) }}
                                </a>
                                <a href="{{ path('app_question_edit', {id: entity.id}) }}" class="hover:text-primary">
                                    {{ component('Icon', {name: 'icon-pencil'}) }}
                                </a>
                                {% include 'question/_delete_form.html.twig' %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center px-4 py-5 pl-9 xl:pl-11">
                            {{ "label.no_results"|trans }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
