{% extends 'layout.html.twig' %}

{% block title %}Questions index{% endblock %}

{% block top_title %}
    {{ question.title }}
{% endblock %}

{% block buttons %}
    {{ component('Link', {
        class: 'bg-primary text-white',
        action: path('app_question_index'),
        label: 'Retour',
        icon: {
            name: 'icon-back'
        }
    }) }}
{% endblock %}


{% block content %}
    <div class="block-container">
        <div class="max-w-full overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                <tr class="bg-gray-2 text-left dark:bg-meta-4">
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
                    >
                        Utilisateur
                    </th>
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white"
                    >
                        JID
                    </th>
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white"
                    >
                        Réponse
                    </th>
                    <th class="px-4 py-4 font-medium text-black dark:text-white">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for answer in question.answers %}
                    <tr>
                        <td
                                class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11"
                        >
                            <h5 class="font-medium text-black dark:text-white">{{ answer.entry.user.username }}</h5>
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            <p class="text-black dark:text-white">{{ answer.entry.jid }}</p>
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            <p class="text-black dark:text-white">{{ answer.answer }}</p>
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            <div class="flex items-center space-x-3.5">
                                {% include 'question/_delete_answer_form.html.twig' %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center px-4 py-5 pl-9 xl:pl-11">
                            {{ "label.no_results"|trans }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
