{% extends 'base.html.twig' %}

{% block left %}
    <div class="h-100">
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Totem</th>
                <th>Contacts</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr class="clickable" onclick="window.location = '{{ path('app_detail', {'id': participant.id}) }}'">
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ participant.last_name }}
                    </td>
                    <td>
                        {{ participant.first_name }}
                    </td>
                    <td>
                        {{ participant.nickname|default('-') }}
                    </td>
                    <td>
                        {{ participant.entries|default(0) }}
                    </td>
                    <td>
                        <a href="{{ path('app_detail', {'id': participant.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block right %}
    <canvas id="canvas" data-url="{{ path('app_data') }}"></canvas>
{% endblock %}

