{% extends 'layout.html.twig' %}

{% block title %}{{ edition.name }}{% endblock %}

{% block top_title %}
    {{ component('Link', {
        class: '!p-0 bg-transparent',
        action: path('app_edition_index'),
        icon: {
            name: 'icon-back'
        }
    }) }}
    <span>{{ edition.name }}</span>
    {{ component('Icon', {
    name: 'icon-eye' ~ (edition.visible ? '' : '-slash')
}) }}
{% endblock %}

{% block buttons %}
    {{ component('Link', {
        icon: {name: 'icon-pencil'},
        label: 'Editer',
        action: path('app_edition_edit', {id: edition.id}),
        class: 'bg-primary text-white'
    }) }}
{% endblock %}

{% block content %}
    <div class="block-container">
        <div class="max-w-full overflow-x-auto">

        </div>
    </div>
{% endblock %}
