{% extends 'layout.html.twig' %}

{% set toggleSidebar = true %}

{% block top_title %}{% endblock %}


{% block content %}
    <div class="flex flex-col gap-4 lg:flex-row">
        <div class="w-full lg:w-2/3 order-2">
            <div class="chart-container hidden md:block block-container">
                <div class="aspect-video" id="map" data-map-target="canvas" data-map-url-value="{{ asset('js/custom.geo.json') }}" data-controller="map" data-map-counts-value="{}"></div>
                <script id="map-data">
                  document.getElementById('map').dataset.mapCountsValue = '{{ stats|json_encode(constant('JSON_FORCE_OBJECT'))|e('js') }}';
                </script>
            </div>
            <div class=" mt-4 block-container">
                <div class="max-w-full overflow-x-auto">
                    <table class="w-full table-auto">
                        <thead>
                        <tr class="bg-gray-2 text-left dark:bg-meta-4">
                            <th
                                    class="px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
                            >
                                {{ "label.created_at"|trans }}
                            </th>
                            <th
                                    class="px-4 py-4 font-medium text-black dark:text-white"
                            >
                                {{ "label.jid"|trans }}
                            </th>
                            <th
                                    class="px-4 py-4 font-medium text-black dark:text-white"
                            >
                                {{ "label.country"|trans }}
                            </th>
                            <th
                                    class="px-4 py-4 font-medium text-black dark:text-white"
                            >
                                {{ "label.pseudo"|trans }}
                            </th>
                            <th
                                    class="px-4 py-4 font-medium text-black dark:text-white"
                            >
                                {{ "label.age"|trans }}
                            </th>
                            <th class="px-4 py-4 font-medium text-black dark:text-white">
                                {{ "label.actions"|trans }}
                            </th>
                        </tr>
                        </thead>
                        <tbody id="entries_list">
                        {% for entity in entries %}
                            {% include 'entry/_entry_row.html.twig' %}
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center px-4 py-5 pl-9 xl:pl-11">
                                    {{ "label.no_results"|trans }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="w-full lg:w-1/3 order-1">
            {% include 'entry/_form.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block entries_stream %}
    <turbo-stream action="prepend" target="entries_list">
        <template>
            {% include 'entry/_entry_row.html.twig' %}
        </template>
    </turbo-stream>

    <turbo-stream action="update" target="alerts">
        <template>
            {% include '_partials/_alerts.html.twig' %}
        </template>
    </turbo-stream>

    <turbo-stream action="replace" target="form_entry">
        <template>
            {% include 'entry/_form.html.twig' %}
        </template>
    </turbo-stream>
    <turbo-stream action="replace" target="map-data">
        <template>
            <script id="map-data">
                document.getElementById('map').dataset.mapCountsValue = '{{ stats|json_encode(constant('JSON_FORCE_OBJECT'))|e('js') }}';
            </script>
        </template>
    </turbo-stream>
{% endblock %}
