{% extends 'layout.html.twig' %}

{% block title %}{{ "title.groups"|trans }}{% endblock %}

{% block top_title %}
    {{ 'title.groups'|trans }}
{% endblock %}

{% block buttons %}
    {{ component('Link', {
        icon: {name: 'icon-plus'},
        label: 'label.add_group'|trans,
        action: path('app_group_new'),
        class: 'bg-primary text-white'
    }) }}
{% endblock %}

{% block content %}
<div class="flex flex-col gap-4 md:flex-row">
    <div class="w-full md:w-1/2">
        <div
            class="block-container"
    >
        <div class="max-w-full overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                <tr class="bg-gray-2 text-left dark:bg-meta-4">
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
                    >
                        {{ "label.id"|trans }}
                    </th>
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white"
                    >
                        {{ "label.name"|trans }}
                    </th>
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white"
                    >
                        {{ "label.country"|trans }}
                    </th>
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white"
                    >
                        {{ "label.users_count"|trans }}
                    </th>
                    <th class="px-4 py-4 font-medium text-black dark:text-white">
                        {{ "label.actions"|trans }}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            <p class="text-black dark:text-white">{{ entity.id }}</p>
                        </td>
                        <td
                                class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11"
                        >
                            <h5 class="font-medium text-black dark:text-white">{{ entity.name }}</h5>
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            <p class="text-black dark:text-white">{{ entity.country|country_name }}</p>
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                                <p class="text-black dark:text-white">{{ entity.users|length }}</p>
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            <div class="flex items-center space-x-3.5">
                                <a href="{{ path('app_group_show', {id: entity.id}) }}" class="hover:text-primary">
                                    {{ component('Icon', {name: 'icon-eye'}) }}
                                </a>
                                <a href="{{ path('app_group_edit', {id: entity.id}) }}" class="hover:text-primary">
                                    {{ component('Icon', {name: 'icon-pencil'}) }}
                                </a>
                                {% include 'group/_delete_form.html.twig' %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center px-4 py-5 pl-9 xl:pl-11">
                            {{ "label.no_results"|trans }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="w-full md:w-1/2">
        <div class="block-container aspect-square" data-controller="leaflet" data-leaflet-marker-icon-value="{{ asset('images/marker.png') }}" data-leaflet-points-value="{{ entities|map(e => e.coords)|json_encode }}">
            <div class="w-full h-full" data-leaflet-target="map"></div>
        </div>
    </div>
</div>
{% endblock %}
