<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ASV - JOTI JOTA 2022{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('map') }}
    {% endblock %}
</head>
<body>
<header class="mb-3 border-bottom">
    <nav class="navbar navbar-expand bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_index') }}">JOTI JOTA 2022</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_map') }}">Carte globale</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <strong>JID : {{ jid }}</strong>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid pb-3">
    {% block body %}
        <div class="row align-items-stretch">
            <div class="col-lg-4 order-1 order-lg-0">
                <div class="bg-light border rounded-3 p-3 overflow-auto" style="max-height: 85vh;">
                    {% block left %}

                    {% endblock %}
                </div>
            </div>
            <div class="col-lg-8 pb-3 pb-lg-0 order-0 order-lg-1">
                <div class="bg-light border rounded-3 p-3 h-100">
                    {% block right %}

                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
</div>
</body>
</html>
