{% extends 'layout.html.twig' %}

    {% block buttons %}
        {% if not app.user.group %}
            {{ component('Link', {
                icon: {
                    name: 'icon-arrow-in'
                },
                label: 'label.join_group'|trans,
                class: 'text-white !bg-danger'
            }) }}
        {% else %}
            {{ component('Link',{
                icon: {
                    name: 'icon-switch'
                },
                label: 'label.switch_group'|trans,
                class: 'text-white'
            }) }}
        {% endif %}
    {% endblock %}

{% block content %}

    <div class="grid grid-cols-5 gap-4">
        {% block blocks %}
            {% for block in stats %}
                <div class="block-container">
                    <h3 class="mb-4 text-title-lg font-bold text-black dark:text-white"
                        data-controller="animated-number"
                        data-animated-number-start-value="0"
                        data-animated-number-end-value="{{ block.value }}"
                        data-animated-number-duration-value="3000"
                    >0</h3>
                    <p class="font-medium">{{ block.label }}</p>
                </div>
            {% endfor %}
        {% endblock %}
        {% block map %}
            <div class="col-span-full block-container chart-container">
                <canvas data-map-target="canvas" data-map-url-value="{{ asset('js/world-countries.json') }}" data-controller="map"></canvas>
            </div>
        {% endblock %}
    </div>
{% endblock %}
