{% extends 'layout.html.twig' %}

{% block title %}Users index{% endblock %}

{% block top_title %}
    {{ 'Users'|trans }}
{% endblock %}

{% block buttons %}
    {{ component('Link', {
        icon: {name: 'icon-plus'},
        label: 'Ajouter un utilisateur',
        action: path('app_user_new'),
        class: 'bg-primary text-white'
    }) }}
{% endblock %}

{% block content %}
    <div class="block-container">
        <div class="max-w-full overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                <tr class="bg-gray-2 text-left dark:bg-meta-4">
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
                    >
                        Username
                    </th>
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white"
                    >
                        Prénom / Nom
                    </th>
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white"
                    >
                        Groupe / Section
                    </th>
                    <th
                            class="px-4 py-4 font-medium text-black dark:text-white"
                    >
                        Roles
                    </th>
                    <th class="px-4 py-4 font-medium text-black dark:text-white">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td
                                class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11"
                        >
                            <h5 class="font-medium text-black dark:text-white">{{ entity.username }}</h5>
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            <p class="text-black dark:text-white">{{ entity.firstname }} {{ entity.lastname }}</p>
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            {% if entity.group %}
                                <p class="text-black dark:text-white">{{ entity.group.name }}{% if entity.section %} ({{ entity.section }}){% endif %}</p>
                            {% endif %}
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            {% for role in entity.roles %}
                                <p class="inline-flex rounded-full px-3 py-1 text-sm font-medium bg-gray dark:bg-boxdark-2">{{ role }}</p>
                            {% endfor %}
                        </td>
                        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                            <div class="flex items-center space-x-3.5">
                                <a href="{{ path('app_user_show', {id: entity.id}) }}" class="hover:text-primary">
                                    {{ component('Icon', {name: 'icon-eye'}) }}
                                </a>
                                <a href="{{ path('app_user_edit', {id: entity.id}) }}" class="hover:text-primary">
                                    {{ component('Icon', {name: 'icon-pencil'}) }}
                                </a>
                                {% include 'user/_delete_form.html.twig' %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center px-4 py-5 pl-9 xl:pl-11">
                            {{ "label.no_results"|trans }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
